.contentAbout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .info{
        padding: 10rem 5rem;
        background-color: #243761;

        h4{
            font-weight: 400;
            font-size: 1.5rem;
            color: #3783FD;
        }

        p{
            font-size: 2rem;
            font-weight: 600;
            color: #f2f2f2;
            
        }
    }
}

.left_section {
    box-sizing: border-box;
    width: 100%;
    padding: 6rem 0;

    .content{
        max-width: 1140px;
        margin: 0 auto;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .info{
        width: 100%;

        h1{
            color: #3783FD;
            font-size: 3rem;
            font-weight: 600;
        }
        p{
            color: #3f3f3f;
            line-height: 2;
            font-size: 1.2rem;
        }
    }

    img{
        height: auto;
        max-width: 100%;
    }
}

.features {
    background-color: #F8FAFC;
    padding: 6rem 0;

    .content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        max-width: 1200px;
        margin: 0 auto;
    }
}